{
  "overrides": [
    {
      "files": [
        "*.md",
        "*.mdx"
      ],
      "options": {
        "parser": "markdown",
        "proseWrap": "preserve",
        "printWidth": 80,
        "tabWidth": 2,
        "useTabs": false,
        "embeddedLanguageFormatting": "auto",
        "htmlWhitespaceSensitivity": "css"
      }
    }
  ]
}