{
  "plugins": [
    "/opt/homebrew/lib/node_modules/prettier-plugin-toml/lib/index.cjs"
  ],
  "overrides": [
    {
      "files": [
        "*.md",
        "*.mdx"
      ],
      "options": {
        "parser": "markdown",
        "proseWrap": "always",
        "printWidth": 80,
        "tabWidth": 2,
        "useTabs": true,
        "embeddedLanguageFormatting": "auto",
        "htmlWhitespaceSensitivity": "css"
      }
    },
    {
      "files": [
        "*.toml"
      ],
      "options": {
        "parser": "toml",
        "printWidth": 88,
        "tabWidth": 4,
        "useTabs": false
      }
    }
  ]
}